.layout {
  position: absolute;
  width: 1440px;
  height: 900px;
  left: 0px;
  top: 0px;
  background: #ffffff;
  display: flex;

  .logo {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 24.75px;
    height: 25px;
  }

  .lendsqr {
    position: absolute;
    width: 138.44px;
    height: 36px;
    left: 132.33px;
    color: #213f7d;
    top: 85px;
  }

  .pablo-signin {
    position: absolute;
    width: 600px;
    height: 337.57px;
    left: 67px;
    top: 281px;
    background: url("../assets/pablo-sign-in1.png");
  }

  .input-base {
    position: absolute;
    left: 736px;
    width: 704px;
    height: 900px;

    h3 {
      position: absolute;
      width: 183px;
      height: 55px;
      left: 100px;
      top: 215px;

      font-family: "Avenir Next";
      font-style: normal;
      font-weight: 700;
      font-size: 40px;
      line-height: 55px;
      /* identical to box height */

      letter-spacing: -0.04em;

      color: #213f7d;
    }
    p {
      position: absolute;
      width: 194px;
      height: 28px;
      left: 100px;
      top: 280px;
      font-family: "Avenir Next";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 27px;
      color: #545f7d;
    }
    #email {
      position: absolute;
      width: 447px;
      height: 50px;
      left: 100px;
      top: 368px;
      background: #ffffff;
      border: 2px solid rgba(84, 95, 125, 0.15);
      border-radius: 5px;
      padding-left: 16px;
      color: #545f7d;
      font-size: 14px;
      font-weight: 400;
      font-family: "Avenir Next";
      font-style: normal;
    }

    #password {
      position: absolute;
      width: 447px;
      height: 50px;
      left: 100px;
      top: 442px;
      background: #ffffff;
      border: 2px solid rgba(84, 95, 125, 0.15);
      border-radius: 5px;
      padding-left: 16px;
      color: #545f7d;
      opacity: 0.6;
      font-size: 14px;
      font-weight: 400;
      font-family: "Avenir Next";
      font-style: normal;
    }
    #show {
      position: absolute;
      width: 49.41px;
      height: 12.5px;
      left: 504.5px;
      top: 460px;

      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 16px;
      text-align: center;
      letter-spacing: 0.1em;
      text-transform: uppercase;

      color: #39cdcc;
    }

    #forgot-pass {
      position: absolute;
      width: 155px;
      height: 17px;
      left: 100px;
      top: 516px;

      font-family: "Avenir Next";
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 16px;
      /* identical to box height */

      text-align: right;
      letter-spacing: 0.1em;
      text-transform: uppercase;

      color: #39cdcc;
    }

    #submit-btn {
      position: absolute;
      left: 100px;
      width: 447px;
      top: 62.56%;
      bottom: 32.11%;
      border-color: #39cdcc;
      background: #39cdcc;
      border-radius: 8px;
      color: #ffffff;
      outline: none;
      border: 2px solid #39cdcc;
    }
  }

  @media (min-width: 768px) {
    // Example breakpoint for tablet screens
    max-width: 768px; // Set maximum width for tablet screens
  }

  @media (min-width: 992px) {
    // Example breakpoint for desktop screens
    max-width: 992px; // Set maximum width for desktop screens
  }
}
